* {
  margin: 0;
  padding: 0;
}

:root {
  --green2: #3F532D;
  --green: #445F2C;
}

@import url('https://fonts.cdnfonts.com/css/poppins');

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
