* {
  margin: 0;
  padding: 0;
  scroll-padding-top: 140px;
  scroll-behavior: smooth;
}

:root {
  --green2: #3F532D;
  --grey: #ebebeb;
  --green: #445F2C;
}

@import url('https://fonts.cdnfonts.com/css/poppins');

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

@keyframes navLinkFadeIn {
  from {
    width: auto;
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    width: auto;
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes navLinkFadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
